let mapleader = " "

set number
set relativenumber
set ignorecase
set showmode
set surround
set multiple-cursors

" Do incremental searching.
set incsearch

imap jj <Esc>
vmap <leader>p "+p
vmap <leader>y "+y

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.:window
set scrolloff=5

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
"Nerd Tree plugin"
Plug 'preservim/nerdtree'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
:nmap <leader>rn <Action>(RenameElement)
:nmap <leader>gr <Action>(FindUsages)
:nmap <leader><space> <Action>(SearchEverywhere)
:nmap <leader>ca <Action>(ShowIntentionActions)
:nmap <leader>cf <Action>(ReformatCode)
:nmap <leader>e <Action>(ActivateProjectToolWindow)
:map <leader>b <Action>(Switcher)
:nmap <leader>t <Action>(ActivateTerminalToolWindow)
:nmap <leader>sd <Action>(ActivateProblemsViewToolWindow)
:nmap <leader>gd <Action>(GotoDeclaration)
:nmap <leader>gI <Action>(GotoImplementation)

vnoremap <C-j> :m '>+1<CR>gv=gv
vnoremap <C-k> :m '<-2<CR>gv=gv

nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)

"" Map <leader>d to start debug
map <leader>dc <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
map \b <Action>(ToggleLineBreakpoint)

"" Ctrl direction to move between splits
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

""Create Splits
nnoremap <leader>\ <C-w>v
nnoremap <leader>- <C-w>s

""Buffer/Tab navigation
nnoremap <A-h> :tabprevious<CR>
nnoremap <A-l> :tabnext<CR>

""Increase and Decrease selections
:nmap <C-space> <Action>(EditorSelectWord)
:vmap <C-space> <Action>(EditorSelectWord)
:vmap <backspace> <Action>(EditorUnSelectWord)

:nmap <leader>ds <Action>(ActivateStructureToolWindow)
